{% extends '/common/base_index.html' %}

{% block content %}

    <div class="table-responsive">

        {#  待审项目信息 #}
        <form method="post">
            <table class="table table-striped">
                {% for foo in project.items %}
                    {{ foo.value }}
                {% endfor %}



                <tr>
                    <td>项目编号</td>
                    <td>{{ project.id }}</td>
                </tr>

                <tr>
                    <td>项目名称</td>
                    <td>{{ project.name }}</td>
                </tr>
                <tr>
                    <td>负责人</td>
                    <td>{{ project.uid | userName }}</td>
                </tr>
                <tr>
                    <td>项目状态</td>
                    <td>{{ project.status | dictFilter }}</td>
                </tr>
                <tr>
                    <td>项目类型</td>
                    <td>{{ project.work_type | dictFilter}}</td>
                </tr>
                <tr>
                    <td><label for="info">项目详情</label></td>
                    <td><textarea name="info" id="info" >{{ project.info }}</textarea></td>
                </tr>
            </table>


            {#  历史审核信息 #}
            {% if flag > 0 %}
                <table class="table table-striped">

                {# 标题栏 #}
                <thead>
                    <tr>
                        <th>项目编号</th>
                        <th>审核人</th>
                        <th>审核描述</th>
                        <th>状态</th>
                    </tr>
                </thead>

                {% for history in histories %}
                    <tbody>
                    <tr>
                        <td>{{ history.pid }}</td>
                        <td>{{ history.uid | userName }}</td>
                        <td>{{ history.info }}</td>
                        <td>{{ history.status | dictFilter }}</td>
                    </tr>

                </tbody>
                {% endfor %}

            </table>
            {% endif %}

           <select name="status" id="2">
                <option value="22">重新提交</option>
                <option value="24">保存内容</option>
                <option value="25">终止项目</option>
            </select><br>

            <input type="submit" value="提交">
        </form>





    </div>

{% endblock %}
