{% extends '/common/base_index.html' %}

{% block title %}
    移动管理系统
{% endblock %}

{% block  table_title %}
    待审核工作列表
{% endblock %}

{% block content %}

    <div class="table-responsive">

        <table class="table table-striped">

            {# 标题栏 #}
            <thead>
            <tr>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>所属类别</th>
                <th>承担省份</th>
                <th>负责人</th>
                <th>联系电话</th>
                <th>预计启动时间</th>
                <th>预计结束时间</th>
                <th>状态</th>
                <th>总预算</th>
                <th>操作</th>
            </tr>
            </thead>

            {# 内容 #}
            <tbody>

            {% for project in paginate.items %}
                <tr>

                    <td>{{ project.id }}</td>
                    <td>{{ project.pname }}</td>
                    <td>{{ project.catgory }}</td>
                    <td>{{ project.province }}</td>
                    <td>{{ project.uid | userName }}</td>
                    <td>{{ project.tel }}</td>
                    <td>{{ project.pre_ini_date }}</td>
                    <td>{{ project.pre_end_date }}</td>
                    <td>{{ project.status | dictFilter }}</td>
                    <td>{{ project.total_account }}</td>
                    <td><a href="/operate?pid={{ project.id }}">前往查看</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        {# 页面导航栏 #}
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            <ul class="pagination">

                {% if paginate.has_prev %}
                    <li class="paginate_button previous" id="DataTables_Table_0_previous"><a
                            href="?page={{ paginate.prev_num }}"
                            aria-controls="DataTables_Table_0"
                            data-dt-idx="0"
                            tabindex="0">上一页</a>
                    </li>
                {% endif %}

                {% for p in paginate.iter_pages() %}
                    {% if p == paginate.page %}
                        <li class="paginate_button active"><a href="?page={{ p }}" aria-controls="DataTables_Table_0"
                                                              data-dt-idx="1" tabindex="0">{{ p }}</a></li>
                    {% else %}
                        <li class="paginate_button "><a href="?page={{ p }}" aria-controls="DataTables_Table_0"
                                                        data-dt-idx="2"
                                                        tabindex="0">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginate.has_next %}
                    <li class="paginate_button next" id="DataTables_Table_0_next"><a
                            href="?page={{ paginate.next_num }}"
                            aria-controls="DataTables_Table_0"
                            data-dt-idx="7"
                            tabindex="0">下一页</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>

{% endblock %}
