{% extends "index.html" %}
{% block content %}
    <form class="form-horizontal" method="post" action="/addproject/">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">项目类别：</label>
                    <div class="col-sm-6">
                        <select name="cls" id="status" class="form-control">
                            {% if project %}
                            <option value="{{ project.catgory }}" selected>{{ project.catgory }}</option>

                            {% else %}
                            {% for num in p_num %}
                                <option value="{{ num.name }}" selected>{{ num.name }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">预计启动时间：</label>
                    <div class="col-sm-6">
                        {% if project %}
                        <input type="date" class="form-control" name="pre_ini_date" value="{{ project.pre_ini_date }}">

                        {% else %}
                        <input type="date" class="form-control" name="pre_ini_date" value="2019-12-03">

                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">实际启动时间：</label>
                    <div class="col-sm-6">
                        {% if project %}
                        <input type="date" class="form-control" name="rea_ini_date" value="{{ project.rea_ini_date }}">

                        {% else %}
                        <input type="date" class="form-control" name="rea_ini_date" value="2019-12-03">

                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">预计结束时间：</label>
                    <div class="col-sm-6">
                        {% if project %}
                        <input type="date" class="form-control" name="pre_end_date" value="{{ project.pre_end_date }}">

                        {% else %}
                        <input type="date" class="form-control" name="pre_end_date" value="2019-12-03">

                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">实际结束时间：</label>
                    <div class="col-sm-6">
                        {% if project %}
                        <input type="date" class="form-control" name="rea_end_date" value="{{ project.rea_end_date }}">
                        {% else %}
                        <input type="date" class="form-control" name="rea_end_date" value="2019-12-03">

                        {% endif %}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-10 ">
                        <lable class="col-md-3 control-label" style="font-size:13px;font-weight: bold;">项目详情：</lable>
                        <br>
                        &nbsp;&nbsp;&nbsp;
                        {% if project %}
                        <textarea class="col-sm-10 col-md-offset-2 " rows="10" cols="100" name="info">{{ project.info }}</textarea>

                    {% else %}
                        <textarea class="col-sm-10 col-md-offset-2 " rows="10" cols="100" name="info"></textarea>

                    {% endif %}
                    </div>
                </div>
                <br>
                <br>

            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">项目名称：</label>
                    <div class="col-sm-6">
                        {% if project %}
                        <input class="form-control" name="pro_name" value="{{ project.pname }}">

                        {% else %}
                        <input class="form-control" name="pro_name" >

                        {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">承担省份：</label>
                    <div class="col-sm-6">
                        <select name="province" id="status" class="form-control">
                            {% if project %}
                            <option value="{{ project.province }}" selected>{{ project.province }}</option>
                            {% else %}
                            {% for province in provinces %}
                                <option value="{{ province.name }}" selected>{{ province.name }}</option>
                            {% endfor %}
                            {% endif %}

                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">联系电话：</label>
                    <div class="col-sm-6">
                        {% if project %}
                        <input class="form-control" name="tel" onblur="checkPhone()" value="{{ project.tel }}">

                        {% else %}
                        <input class="form-control" name="tel" onblur="checkPhone()">

                        {% endif %}
                        <span id="phone"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">总预算：</label>
                    <div class="col-sm-6">
                        {% if project %}
                        <input class="form-control" name="total_account" onblur="ischeckNum()" value="{{ project.total_account }}">

                        {% else %}
                        <input class="form-control" name="total_account" onblur="ischeckNum()">

                        {% endif %}
                        <span id="span"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">审批人：</label>
                    <div class="col-sm-6">
                        {% if officer %}
                        <input class="form-control" name="officers" value="{% for i in officer %}{{ i.uid }}{% endfor %}">

                        {% else %}
                        <input class="form-control" name="officers" placeholder="多个审批人请以分号隔开">

                        {% endif %}
                    </div>
                </div>


            </div>


            <div class="col-md-3  col-md-offset-4">
                <button type="submit" class="btn btn-default">确认新增</button>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" href="/addproject/">重置</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" href="/planlist/">返回</a>
            </div>
        </div>


    </form>

    <script>
        function ischeckNum() {
            var total_account = $('input[name="total_account"]').val()
            if (total_account) {
                if (isNaN(total_account)) {
                    $('#span').html("不是数字")
                }
            }
        }

        function checkPhone() {
            var phone = document.getElementById('phone').value;
            if ((/^1[3456789]\d{9}$/.test(phone))) {
                alert("手机号码有误，请重填");
                return false;
            }
        }

    </script>





{% endblock %}










